{% extends 'base.html' %}
{% block title %}<title>Shnapsot - Chat rooms</title>{% endblock %}
{% block active_rooms %} active"{% endblock %}
{% block content %}
<div class="container">
<div class="row g-0 flex-grow-1">
    <div class="col m-5" id="rooms-list">
        <h1>List of chat rooms</h1>
            {% for room in rooms %}
                <a href="/room/{{ room }}"><button style="width: 100%" type="button" class="btn btn-primary btn-block btn-lg m-2">{{ room }}</button></a>
            {% endfor %}
        <h1 class="mt-5">Manage chat rooms</h1>
        <a href="#"><button style="width: 100%" type="button" class="btn btn-success btn-block btn-lg m-2">Create</button></a>
        <a href="#"><button style="width: 100%" type="button" class="btn btn-danger btn-block btn-lg m-2">Delete</button></a>
    </div>         
</div>
</div>
{% endblock %}