{% extends 'base.html' %}
{% block title %}<title>Shnapsot - Login</title>{% endblock %}
{% block active_login %} active"{% endblock %}
{% block content %}
<div class="row g-0 flex-grow-1">
    <div class="col-lg-4 col-md-6 col-sm-8 mx-auto gx-5 form-box">
        <div class="bg-secondary p-4 rounded">
            <form method="POST">
                <div class="mb-4 mt-3">
                    {{ login.username.label(class_='form-label fs-5') }}
                    {{ login.username(class='form-control') }}
                    <span class="failed-field">{{ errors.username | first }}</span>
                </div>
                <div class="mb-4">
                    {{ login.password.label(class_='form-label fs-5') }}
                    {{ login.password(class='form-control') }}
                    <span class="failed-field">{{ errors.password | first }}</span>
                </div>
                <div class="mb-3 mx-auto text-center">
                    {{ login.submit(class='btn btn-primary fs-5') }}
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
